.editCustomer {
}

.editCustomer h3 {
  text-align: center;
  font-size: 2rem;
  margin: 5px 0;
}
.editCustomer form {
  margin: 15px;
}
.editCustomer form .buttonContainer {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
.editCustomer form .buttonContainer button {
  padding: 10px 15px;
  width: 100px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background-color: #114a62;
  color: white;
  cursor: pointer;
}
.editCustomer form .buttonContainer button:hover {
  transform: scale(1.05);
}
.inputBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px 15px;
  /* display: flex;
  flex-direction: column;
  height: 20px;
  width: 70%; */
}
.inputBox label {
}
.inputBox input {
  margin: 5px 0;
  padding: 8px;
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  border: none;
  color: #114a62;
}
.inputBox input:focus {
  outline: none;
}
.selectBox {
  margin: 0 15px;
}
.inputRadio {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
}
.inputRadioOption {
  display: flex;
  justify-content: left;
}
