.vManage {
  text-align: center;
  padding: 0 15px;
}

.vMHeader {
  margin: 15px 0;
  display: flex;
  position: relative;
  border-bottom: 1px solid #c4cdd1;
  justify-content: space-between;
}
.vMForm {
  display: flex;
}
.vMHeader .addButton {
  width: fit-content;
  border-radius: 20px;
  border-color: #114a62;
  background-color: #114a62;
  color: white;
  font-size: 1rem;
  padding: 10px 15px;
  margin-right: 20px;
}
.vMHeader .addButton:hover {
  transform: scale(1.07);
}
.vMHeader form {
  border: 0.2px solid #114a62;
  border-radius: 20px;
  height: 35px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vMHeader input {
  border: none;
  margin: 10px 15px;
  outline: none;
}

.vMHeader button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.vMTable {
  margin-top: 25px;
  overflow: scroll;
  height: 70vh;
}
.vMTable table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.vManage td,
th {
  padding-left: 8px;
}
.vMTable thead tr {
  position: sticky;
  top: 0px;
}
.vManage thead tr {
  height: 60px;
  background: #114a62;

  font-size: 16px;
  color: white;
  z-index: 5;
}
/* .vManage tbody,
thead {
  display: block;
} */

.vManage tbody tr {
  height: 48px;
  border-bottom: 1px solid #e3f1d5;
}
.vManage .statusButton {
  border: none;
  height: 25px;
  color: #455e60;
  border-radius: 8px;
}
.vManage .suspended {
  background-color: rgb(245, 149, 149);
}
.vManage .inService {
  background-color: rgb(108, 250, 108);
}
.vManage .outOfService {
  background-color: rgb(132, 197, 250);
}
.vMTable .iconButton {
  height: 30px;
  width: 30px;
  padding: 3px;
  margin-left: 10px;
  background-color: rgb(228, 228, 228);
  /* color: white; */
  border: none;
  border-radius: 10px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25); */
}
.vMTable .iconButton:hover {
  cursor: pointer;
  transform: scale(1.07);
}
/* .vMForm {
  margin-top: 25px;
  width: 100%;
  display: flex;
}
.vMFormLeft {
  flex: 5;
  background-color: #114a62;
  color: white;
}
.vMFormRight {
  flex: 7;
  color: #114a62;
} */
