.tLCard {
  height: 250px;
  width: auto;
  border-bottom: 0.5px solid #cbcecf;
  padding: 15px;
  cursor: pointer;
}
.tLCardHeading {
  text-align: center;
  color: #114a62;
  font-weight: 500;
  font-size: 1.2rem;
}
.tLCardBody {
  display: flex;
  height: 65%;
}
.tLCardImg img {
  height: 180px;
}
.tLCardDetail {
  margin-top: 25px;
}
.tLPlaceA {
  height: 90px;
}
.tLPlaceB {
  height: 30px;
}
.tLCardFooter {
  margin-top: 25px;
  text-align: center;
  color: #114a62;
}
